:root {
    --link: #C4C4C4;
    --link-text: #7B7B7B;
    --info-like: #999999;
    --text: #343434;
    --input: #323232;
    --input-text: #A1A1A1;
    --color-btn: #FFFFFF;
    --background-btn: #FF6C01;
    --black: black;
    --green: #69A042;
    --gradient: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);

}

* {
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    min-height: 100%;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.header {
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__logo-box {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 100px;
}

.header__input {
    border: 2px solid var(--input);
    background: url(../img/adress.svg) no-repeat;
    background-position: 15px 50%;
    border-radius: 5px;
    color: var(--input-text);
    width: 500px;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 10px 15px 50px;
}

.header__basket-users {
    display: flex;
    align-items: center;
}

.header__users-exit {
    padding: 15px 20px;
    background: var(--background-btn);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}

.header__users-exit:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.header__basket {
    padding: 15px 20px;
    background: var(--green);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 30px;
}

.header__basket:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.title {
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    padding: 35px 0;
    margin: 0;
}

.title__h1 {
    font-weight: 800;
    font-size: 36px;
}

.main-box__list {
    display: flex;
    align-items: center;
    padding: 30px 0;
    list-style: none;
    margin: -15px ;
}

.main-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 25px;
}

.main-box__navigation {
    width: 68%;
}

.main-box__item { 
    margin-right: 20px;
}

.main-box__link { 
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 10px;
    color: var(--link-text);
    font-weight: 500;
    font-size: 18px;
}

.main-box__link:hover {
    background-color: var(--link);
    color: var(--text);
}

.shares-box {
    width: rem(777);
}

.burgers {
    position: relative;
    width: 30%;
    border: 1px solid var(--link);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 30px;
}

.burgers:hover {
    border: 1px solid var(--background-btn);
    box-shadow: 0px 4px 4px rgba(255, 108, 1, 0.55);
}

.burgers:hover .burgers__price{
    display: none;
}

.burgers:hover .burgers__btn{
    display: block;
    animation: show-btn 1s 1;
    animation-fill-mode: forwards;
}

.burgers-box {
    max-width: 777px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.burgers__info {
    padding: 5px 15px 30% 15px;
    cursor: pointer;
}

.burgers__img {
    width: 100%;
}

.burgers__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.burgers__text {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: var(--input-text);
    cursor: pointer;
}

.burgers__btn {
    display: none;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    color: var(--color-btn);
    background-color: var(--background-btn);
    border: 2px solid var(--background-btn);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    border-radius: 10px;
    padding: 10px 25px;  
}

.burgers__btn:active {
    border: 2px solid transparent;
}

.burgers__price-box {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.burgers__price-box:hover > .burgers__price {
    display: none;
}

.burgers__price-box:hover > .burgers__btn {
    display: block;
    animation: show-btn 1s 1;
    animation-fill-mode: forwards;
}

@keyframes show-btn{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.burgers__price {
    cursor: pointer;
}

.burgers__svg-box {
    position: absolute;
    right: 25px;
    bottom: 15px;
}

.burgers__svg {
    cursor: pointer;
    stroke: var(--black);
}

.burgers__svg:hover,
.burgers__svg:active {
    fill: var(--green);
    stroke: var(--green);
}

.shares-box {
    max-width: 775px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.over-price {
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 400px;
    padding: 25px 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.over-price__box {
    padding: 0 25px;
}

.over-price__span {
    display: flex;
    justify-content: center;
}

.over-price__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: var(--background-btn);
    border-radius: 10px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.over-price__btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.over-price__menu-list {
    max-width: 40%;
}
.over-price__menu-list > h3 {
    font-weight: 500;
    font-size: 14px;
    margin-top: 0;
}

.over-price__menu-list p {
    padding-left: 15px;
    color: var(--input-text);
    font-weight: 500;
    font-size: 12px;
}

.over-price__title {
    margin: 0 0 30px 0;
}

.over-price__position-products {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.over-price__bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.over-price__burger-price {
    display: block;
    flex-wrap: nowrap;
}

.over-price__delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.over-price__text-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    font-weight: 500;
    font-size: 18px;
}

.over-price__plus-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-btn);
    border-radius: 20px;
    width: 35px;
    height: 35px;
    color: #FFFFFF;
    border: 2px solid transparent;
    margin-left: 10px;
    cursor: pointer;
}

.over-price__plus-bar:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.over-price__minus-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-btn);
    border-radius: 20px;
    width: 35px;
    height: 35px;
    color: #FFFFFF;
    border: 2px solid transparent;
    margin-right: 10px;
    cursor: pointer;
}

.over-price__minus-bar:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
    background: var(--gradient);
    height: 100px;
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
}

.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer__box > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__info {
    display: flex;
}

.footer__info a {
    text-decoration: none;
    margin-right: 20px;
    color: #FFFFFF;
}

.footer__info a:hover {
    text-decoration: underline;
}

.footer__social {
    display: flex;
}

.footer__social a {
    text-decoration: none;
    margin-left: 20px;
}

/* --------------------------------------modal-------------------------------- */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

body.lock {
    overflow: hidden;
}

.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body { 
    width: auto;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    background-color: #fff;
    color: #000;
    min-width: 950px;
    max-width: 1000px;
    min-height: 550px;
    max-height: 650px;
    border-radius: 10px;
    padding: 40px 75px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.popup__add-like-box {
    position: absolute;
    bottom: 0;
    left: 0;
}

.popup__like {
    display: flex;
    align-items: center;
    border: none;
    max-width: 230px;
    padding: 13px 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: transparent;
    color: var(--info-like);
    transition: 0.3s;
}

.popup__like:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 108, 1, 0.55);
}

.popup__like > img {
    margin-right: 15px;
}

.popup__like-img {
    height: 30px;
}

.popup__like > p {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.popup__info-like-box {
    border: none;
    color: var(--info-like);
    background-color: transparent;
    line-height: 19px;
    font-weight: bold;
    margin-bottom: 19px;
}

.popup__info-like-box:hover {
    text-decoration: underline;
    cursor: pointer;
}

.popup__img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.popup__box {
   margin-right: 77px;
   position: relative;
}

.modal__box-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
}

.modal__box-checbox {
    margin-bottom: 50px;
}

.modal__price-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    margin-left: 10px;
    background: var(--background-btn);
    border: 2px solid var(--background-btn);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    min-width: 250px;
}

.modal__price-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal {
    position: relative;
}

.modal__info > h2 {
    margin: 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}

.modal__info > p {
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #443E3E;
    height: 100%;
}

.modal__box-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
}

.modal__text-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-weight: 600;
    font-size: 24px;
}

.modal__plus-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-btn);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    border: 2px solid transparent;
    cursor: pointer;
}

.modal__plus-bar:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal__minus-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-btn);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    border: 2px solid transparent;
    cursor: pointer;
}

.modal__minus-bar:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal__box-checbox li {
    position: relative;
    margin-bottom: 10px;
}
.modal__box-checbox ul {
    list-style: none;
    padding: 0;
}

.modal__box-checbox input {
    height: 1px;
    width: 1px;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}
  
.modal__box-checbox label {
    cursor: pointer;
    padding-left: 25px;
}
  
.modal__box-checbox label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    border: 2px solid var(--info-like);
}
  
.modal__box-checbox label::after {
    content: "";
    color: white;
    position: absolute;
    left: 2px;
    top: 0;
}
  
input[type=checkbox]:checked + label::before {
      background: var(--link);
}
  
input[type=checkbox]:checked + label::after {
    content: "✓";
    left: 3px;
    top: -1.8px;
      
}